
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title"> <i class="fa fa-heart-o"> </i>  Aşk <i class="fa fa-heart-o"></i></h4>
                    </div>
                    <div class="content">   
                        <img src="~/Assets/images/IMG_0650.JPG" class="img-rounded" style="height:180px" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title"> Rockyko</h4>
                    </div>
                    <div class="content">
                        <img src="~/Assets/images/rocky_tansu (5).JPG" class="img-rounded" style="height:180px" />                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title"> Tansuş</h4>
                    </div>
                    <div class="content">                        
                        <img src="~/Assets/images/rocky_tansu (7).JPG" class="img-rounded" style="height:180px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


