
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<body>
    <div class="about">
        <div class="about-text">
            <h3>Hakkımda</h3>
        </div>
        <div class="about-info">
            <h4>Lorem Ipsum is not simply random text. It has roots in a piece of classical</h4>
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
            </p>
            <div class="col-md-5 about-info-left">
                <img src="~/Assets/images/10-.jpg" alt="" />
            </div>
            <div class="col-md-7 about-info-right">
                <h4>piece of classical Lorem Ipsum </h4>
                <p>
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, <span>
                        by injected humour,  to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
                        or randomised words which don't look even slightly believable.Lorem Ipsum available, but the majority
                    </span> have suffered alteration in some form, by injected humour.
                </p>
            </div>
            <div class="clearfix"> </div>

        </div>
        <div class="about-grid">
            <div class="col-md-4 about-text-info">
                <h4>Development</h4>
                <h5>nobis est eligendi optio cumque nihil</h5>
                <p class="about-pgh">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,  to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum </p>
            </div>
            <div class="col-md-4 about-text-info">
                <h4>Yeteneklerim</h4>
                <h5>repudiandae sint et molestiae</h5>
                <p class="about-pgh">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, to generate Lorem Ipsum which looks reasonable or randomised.</p>
            </div>
            <div class="col-md-4 about-text-info">
                <h4>Kariyerim</h4>
                <h5>consequatur aut perferendis doloribus</h5>
                <p class="about-pgh">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some to generate Lorem Ipsum which looks reasonable.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</body>

