

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div class="blog">
        <div class="blog-left">
            <div class="blog-left-grid">
                <div class="blog-left-grid-left">
                    <h3><a href="/Home/Article">Makale Başlığı 1</a></h3>
                    <p>by <span>Charlie</span> | June 29,2015 | <span>Sint</span></p>
                </div>
                <div class="blog-left-grid-right">
                    <a href="#" class="hvr-bounce-to-bottom non">20 Comments</a>
                </div>
                <div class="clearfix"> </div>
                <a href="single.html"><img src="~/Assets/images/6.jpg" alt=" " class="img-responsive" /></a>
                <p class="para">
                    Itaque earum rerum hic tenetur a sapiente delectus,
                    ut aut reiciendis voluptatibus maiores alias consequatur aut
                    perferendis doloribus asperiores repellat.Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum
                    soluta nobis est eligendi optio cumque nihil impedit quo minus
                    id quod maxime placeat facere possimus, omnis voluptas assumenda
                    est, omnis dolor repellendus. Temporibus autem quibusdam et
                    aut officiis debitis.
                </p>
                <div class="rd-mre">
                    <a href="Home/Article" class="hvr-bounce-to-bottom quod">Read More</a>
                </div>
            </div>
            <div class="blog-left-grid">
                <div class="blog-left-grid-left">
                    <h3><a href="single.html">Makale Başlığı 2</a></h3>
                    <p>by <span>Charlie</span> | June 29,2015 | <span>Sint</span></p>
                </div>
                <div class="blog-left-grid-right">
                    <a href="#" class="hvr-bounce-to-bottom non">40 Comments</a>
                </div>
                <div class="clearfix"> </div>
                <a href="single.html"><img src="~/Assets/images/5.jpg" alt=" " class="img-responsive" /></a>
                <p class="para">
                    Itaque earum rerum hic tenetur a sapiente delectus,
                    ut aut reiciendis voluptatibus maiores alias consequatur aut
                    perferendis doloribus asperiores repellat.Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum
                    soluta nobis est eligendi optio cumque nihil impedit quo minus
                    id quod maxime placeat facere possimus, omnis voluptas assumenda
                    est, omnis dolor repellendus. Temporibus autem quibusdam et
                    aut officiis debitis.
                </p>
                <div class="rd-mre">
                    <a href="single.html" class="hvr-bounce-to-bottom quod">Read More</a>
                </div>
            </div>
        </div>
        <div class="blog-right">
            <div class="pgs">
                <h3>Kategoriler</h3>
                <ul>
                    <li><a href="#">Yazılım</a></li>
                    <li><a href="#">Gezdim Gördüm</a></li>
                    <li><a href="#">Yemek Tarifleri</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //blog -->

</body>
</html>

